

#form{
	margin-top:100px;
}

#form input{
	font-family: 'Orbitron', sans-serif;
	color:black;
	font-weight:bold;
	border:1px solid blue;
	border-radius:10px;
	padding-left:5px;
	letter-spacing:1px;
}

.btn{
	font-family: 'Orbitron', sans-serif;
	background-color:#0A79DF;
	border:1px solid orange;
	border-radius:10px;
	width:120px;
	height:50px;
}