.container{
	border-radius:10px;
}

.box{
	background-color:transparent;
	box-shadow:2px 2px 15px 2px;
	border-radius:10px;
	height:570px;
	width:70%;
	margin:50px auto;
}

#form{
		
		padding-top:10px;
}

#form label{
	color:#00CCCD;
	font-weight:bold;
}

#form input{
	font-family: 'Orbitron', sans-serif;
}

.btn{
	font-family: 'Orbitron', sans-serif;
}

#sg_btn{
	font-family: 'Orbitron', sans-serif;
	width:250px;
	border-radius:5px;
	margin-left:10%;
}

#err{
	font-size:11px;
	color:red;
}

#head{
	color:green;
	text-transform:uppercase;
	font-size:22px;
	font-weight:bold;
	letter-spacing:1px;
}

#captcha{
	border:1px solid #A4B0BD;
	border-radius:5px;
	height:47px;
	margin-left:36%;
	background-color:#67E6DC;
}

#captcha_text{
	border:1px solid #A4B0BD;
	border-radius:5px;
	padding-left:5px;
}

#validate_captcha{
	margin-top:5px;
	margin-left:5px;
	height:35px;
	width:120px;
	background-color:#10A881;
	border:1px solid #10A881;
	border-radius:5px;
	color:white;
}

#loader{
	padding-top:20px;
}